# Port to use for docker container
PORT=3579

# Environment variables for Jellyfin-Pangolin-Auth
JELLYFIN_URL=http://localhost:8096

# Pangolin API configuration
PANGOLIN_API_URL=http://localhost:3000/api
PANGOLIN_API_KEY=your_api_key_here

# Pangolin resources to add ip pass rule to, comma separated
RESOURCE_IDS=resource1,resource2,resource3

# Maximum number of IPs to add per user
MAX_IPS_PER_USER=5